absl-py==1.0.0
alabaster==0.7.8
anyio==3.5.0
apturl==0.5.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-generator==1.10
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.10.0
beautifultable==1.0.1
bleach==4.1.0
blinker==1.4
Brlapi==0.7.0
Brotli==1.0.9
bs4==0.0.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
cliapp==1.20180812.1
click==8.0.4
colorama==0.4.3
command-not-found==0.3
conda==4.3.16
configparser==5.2.0
crayons==0.4.0
cryptography==36.0.2
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docopt==0.6.2
docutils==0.16
dominate==2.6.0
duplicity==0.8.12.0
entrypoints==0.3
executing==0.8.3
fasteners==0.14.1
feedparser==5.2.1
Flask==2.2.2
Flask-Bootstrap4==4.0.2
Flask-WTF==1.0.0
fonttools==4.29.1
fore==0.1
future==0.18.2
geographiclib==1.52
geopy==2.2.0
gitsome==0.8.0
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
h11==0.12.0
h2==4.1.0
hpack==4.0.0
httpcore==0.14.7
httplib2==0.14.0
httpx==0.22.0
hyperframe==6.0.1
idna==2.8
ImageHash==4.2.1
imagesize==1.2.0
importlib-metadata==4.12.0
importlib-resources==5.4.0
ipykernel==6.9.1
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isc==2.0
itsdangerous==2.1.0
jedi==0.18.1
Jinja2==3.0.3
json5==0.9.6
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.13.5
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.2
kaitaistruct==0.9
keyring==18.0.1
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mediapipe==0.8.9.1
mistune==0.8.4
monotonic==1.5
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
netifaces==0.10.4
notebook==6.4.8
numpy==1.22.2
numpydoc==0.7.0
oauth2client==4.1.2
oauthlib==3.1.0
objects==0.3.1
olefile==0.46
opencv-contrib-python==4.5.5.62
opencv-python==4.5.5.62
outcome==1.1.0
packaging==21.3
pandocfilters==1.5.0
paramiko==2.6.0
parso==0.8.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
ply==3.11
praw==7.6.0
prawcore==2.3.0
progressbar==2.5
progressbar2==4.0.0
prometheus-client==0.13.1
prompt-toolkit==3.0.28
protobuf==3.19.4
proton-client==0.7.1
protonvpn-cli==3.12.0
protonvpn-gui==1.10.0
protonvpn-nm-lib==3.12.0
psutil==5.5.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycosat==0.6.3
pycparser==2.21
pycryptodome==3.14.1
pycups==1.9.73
PyDrive==1.3.1
Pygments==2.11.2
PyGObject==3.36.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyRFC3339==1.1
pyrsistent==0.18.1
PySocks==1.7.1
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-gnupg==0.4.5
python-utils==3.3.3
pythondialog==3.4.0
pytz==2019.3
PyWavelets==1.3.0
pyxdg==0.26
PyYAML==5.3.1
pyzmq==22.3.0
reportlab==3.5.34
requests==2.22.0
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rfc3986==1.5.0
roman==2.0.0
rsa==4.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.8.0
SecretStorage==2.3.1
selenium==4.1.3
selenium-wire==4.6.3
Send2Trash==1.8.0
setproctitle==1.1.10
simplejson==3.16.0
six==1.14.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
Sphinx==1.8.5
SQLAlchemy==1.3.12
stack-data==0.2.0
systemd-python==234
termcolor==1.1.0
terminado==0.13.2
testpath==0.6.0
tinyec==0.4.0
tornado==6.1
traitlets==5.1.1
trio==0.20.0
trio-websocket==0.9.2
ttystatus==0.38
tweepy==3.3.0
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
update-checker==0.18.0
uritemplate==0.6
urllib3==1.26.9
usb-creator==0.3.7
vboxapi==1.0
viola==0.3.8
visitor==0.1.3
voila==0.3.2
wadllib==1.3.3
wayback==0.3.2
wcwidth==0.2.5
webdriver-manager==3.5.3
webencodings==0.5.1
websocket-client==1.3.1
websockets==10.2
Werkzeug==2.2.2
widgetsnbextension==3.5.2
wsproto==1.1.0
WTForms==3.0.1
xkit==0.0.0
xonsh==0.9.13
zipp==3.7.0
zstandard==0.17.0
